.candidate-detail-two-subheader {
	float: left;
	width: 100%;
	background: url(../extra-images/candidate-detail-two-2.jpg) no-repeat;
	position: relative;
	padding: 91px 0px 21px 0px !important;
	margin-top: 106px;
}
.candidate-detail-two-transparent {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.50;
}
.candidate-detail-two-subheaderwrap {
	float: right;
	width: 66.66666667%;
	position: relative;
	padding-left: 15px;
}
.candidate-detail-two-subheader h1 {
	color: #ffffff;
	font-size: 36px;
	margin-bottom: 7px;
	line-height: 1.3;
}
.candidate-detail-two-subheader-list {
	display: inline-block;
	vertical-align: middle;
	width: 75%;
	margin-bottom: 7px;
}
.candidate-detail-two-subheader-list li {
	float: left;
	list-style: none;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.2;
	margin: 0px 15px 12px 0px;
}
.candidate-detail-two-subheader-list li i {
	margin-right: 5px; }
.candidate-detail-two-subheader-list li:first-child {
	width: 100%; }
.candidate-detail-two-subheader-btn {
	display: inline-block;
	vertical-align: middle;
	padding: 11px 26px;
	border: 1px solid #ffffff;
	border-radius: 80px;
	color: #ffffff;
	line-height: 1;
	font-size: 16px;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.candidate-detail-two-subheader-btn:hover {
	background-color: #f1592a;
	color: #ffffff;
	border-color: #f1592a;
}
.candidate-detail-two-subheader-btn i {
	margin-right: 5px; }
.candidate-detail-two-subheader-social {
	float: left;
	width: 100%;
}
.candidate-detail-two-subheader-social li {
	float: left;
	list-style: none;
	margin: 0px 9px 9px 0px;
}
.candidate-detail-two-subheader-social li a {
	float: left;
	width: 24px;
	height: 24px;
	background-color: #ffffff;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	padding-top: 4px;
}
.candidate-detail-two-thumb {
	float: left;
	width: 100%;
	margin: -202px 0px 22px 0px !important;
}
/* Candidate Timeline Two */
.careerfy-candidate-timeline-two {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.careerfy-candidate-timeline-two ul li { list-style: none; }
.careerfy-candidate-timeline-two > ul > li { margin-bottom: 0px; }
.careerfy-candidate-timeline-two small {
    font-size: 12px;
    margin-left: 9px;
}
.careerfy-candidate-timeline-two .careerfy-candidate-timeline-two-text {
	padding-left: 60px;
	padding-bottom: 22px;
	position: relative;
}
.careerfy-candidate-timeline-two .careerfy-candidate-timeline-two-text:before {
	content: '';
	position: absolute;
	left: 20px;
	top: 0px;
	width: 1px;
	height: 100%;
	border-left: 1px solid #d1d1d1;
}
.careerfy-candidate-timeline-two li:last-child .careerfy-candidate-timeline-two-text:before {
	height: 78%; }
.careerfy-candidate-timeline-two .careerfy-candidate-timeline-two-text:after {
	content: '';
	position: absolute;
	left: 13px;
	top: -2px;
	background-color: #ffffff;
	box-shadow: 0px 0px 0px 4px #d1d1d1 inset;
	width: 16px;
	height: 16px;
	border-radius: 100%;
}
.careerfy-candidate-timeline-two-text span {
    line-height: 1;
    font-size: 12px;
    color: #f1592a;
    margin-bottom: 11px;
    display: block;
}
.careerfy-candidate-timeline-two-text h2 {
    font-size: 18px;
    margin-bottom: 9px;
    line-height: 1;
}
.careerfy-candidate-timeline-two-text p {
    font-size: 15px;
    color: #999999;
    margin-bottom: 0px;
}
/* Circular Progress */
.circle-pie-list {
	margin: 22px 0px;
}
.pie-title-center {
	display: inline-block;
	position: relative;
	text-align: center;
}

.pie-value {
	display: block;
	position: absolute;
	font-size: 60px;
	color: #333333;
	top: 40%;
	left: 0;
	right: 0;
	margin-top: -15px;
	line-height: 40px;
}
.circle-pie-wrap {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
.circle-pie-inner {
	display: block;
	position: absolute;
	font-size: 24px;
	color: #999999;
	top: 50%;
	left: 0;
	right: 0;
	line-height: 40px;
	margin-top: 11px;
	text-transform: uppercase;
}
.circle-pie-title {
	float: left;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: 500;
}